body {
    margin: 0;
    padding: 0;
    background: rgb(235, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 31, 31);
}

.header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: black;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: rgb(30, 31, 31);
    font-size: 18px;
}

.card {
    background: #fff;
    width: 80%;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0, 3px 10px rgb(30, 31, 31);
}

.form-group {
    display: block;
    box-sizing: border-box;
}
.form-control {
    display: block;
    margin: 0 15px 15px 0;
    padding: 10px;
    font-size: 16px; 
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(30, 31, 31);
}
.about {
    display: flex;
    align-items: center;
    margin: 5px auto;
}
.about span {
    margin: 0 30px;
}
.footer {
    background: #fff;
    padding: 10px 20px;
    text-align: center;
}
.btn {
    color: rgb(238, 243, 248);
    background: rgb(59, 125, 201);
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border-color: rgb(59, 125, 201);
    font-size: 14px;
}
.btn:hover {
    background: rgb(18, 53, 94);
}
.link a {
    background: rgb(67, 134, 211);
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    border-radius: 3px;
    margin: 3px 10px;
    text-decoration: none;
}
.link {
    display: flex;
}
.success {
background-color: rgb(123, 228, 123);
padding: 10px 20px;
border-radius: 3px;
text-align: center;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.logo a img {
    width: 200px;
    box-sizing: border-box;
}
.social-icon a img {
    width: 50px;
}
.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo {
        display: grid;
        grid-template-columns: repeat(1, 150px);
        align-items: center;
        margin: 5px 0;
    }
    .img-logo {
        width: 150px;
        box-sizing: border-box;
       
    }
 }