<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <div>
        <header>
            <nav class="nav-links">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
                <a href="#portfolio">Portfolio</a>
            </nav>
        </header>
        <section>
            <div class="hero">
                <div class="welcome">
                    <h1>Hi, Welcome to my Resume Page</h1>
                    <h3>Backend Developer</h3>
                </div>
                <div  class="img">
                    <img src="" alt="img">
                </div>
            </div>
            <div class="content">
                <div class="info">
                    <h1>Profile Details</h1>
                    <div class="group-details">
                        <h3>Name:</h3>
                        <p>Abiola Fasanya</p>
                    </div>
                    <div class="group-details">
                        <h3>Email:</h3>
                        <p>harbiola78@gmail.com</p>
                    </div>
                    <div class="group-details">
                        <h3>Phone:</h3>
                        <p>+2348102307473</p>
                    </div>
                    <div class="group-details">
                        <h3>Location:</h3>
                        <p>Lagos, Nigeria</p>
                    </div>
                </div>

                <div class="info">
                    <h1>Skills & Tools</h1>
                    <div class="info-skills">
                        <h3>Golang</h3>
                        <h3>PHP</h3>
                        <h3>Git</h3>
                        <h3>HTML5</h3>
                        <h3>CSS</h3>
                        <h3>TailwindCss:</h3>
                        <h3>Bootstrap</h3>
                        <h3>JavaScript</h3>
                        <h3>Laravel</h3>
                        <h3>Cloudinary</h3>
                    </div>
                
                </div>
            </div>
            <div class="contact">
                <h1>Contact Me</h1>
                {{if .success}}
                    <h3>Thanks we received your message</h3>
                {{else}}
                <form action="" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="email">
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="subject">
                    </div>
                    <div class="form-msg">
                        <label for="message">Message</label>
                        <textarea name="message" id="" cols="30" rows="10">
                            -- Message here --
                        </textarea>
                    </div>
                    <button class="btn">Submit</button>
                </form>
                {{end}}
            </div>
        </section>
        <footer></footer>
    </div>
</body>
</html>